<div class="container">
    <h1 class="display-4">
        Welcome to {{ title }}!
      </h1>
      
  <p class="lead">
    This is a playground app, where I can play with different hyperparameters configurations of different models, while observing
    different functionalities of the training, and sometimes also the prediction actions.
  </p>
  <div>
    I make use of:
    <dl class="row">
      <dt class="col-sm-3"><a href="https://angular.io">Angular</a></dt>
      <dd class="col-sm-9">for the website frame and linkage</dd>

      <dt class="col-sm-3"><a href="https://deeplearnjs.org">deeplearning.js</a></dt>
      <dd class="col-sm-9">for building and training models over JS</dd>

      <dt class="col-sm-3">Tensorflow</dt>
      <dd class="col-sm-9">for building and training models over python (on the server)</dd>

      <dt class="col-sm-3">d3.js</dt>
      <dd class="col-sm-9">For visualization, graphs and charts</dd>
    </dl>
  </div>
  <p>
    More information about Information Theory can be found <a href="https://www-sigproc.eng.cam.ac.uk/foswiki/pub/Main/3F1/3F1InfoTheory.pdf">here</a>.
  </p>
</div>
